<style title="local">
div#valorChave label { 
  font-weight: bold;
}

div#valorEmpregado label { 
  font-weight: bold;
}

div#valorGerencia label { 
  font-weight: bold;
}

div#valorMatricula label { 
  font-weight: bold;
}

</style> 
<div id="starter" ng-init="cronapi.server('blockly.TelaRequestVacation.AoEntrar').run(params.login)" ng-destroy="" data-component="crn-start" screen-params="[{'key':'login','value':''}]"> 
  <h1 class="component-holder text-left h3 col-md-12" xattr-position="text-left" xattr-type="h3" data-component="crn-text-component" id="crn-text-component68991">Solicitar Férias</h1> 
  <div class="component-holder ng-binding ng-scope col-md-12" data-component="crn-horizontal-container" id="crn-horizontal-container-807571"> 
    <div class="col-md-2" data-container="true" data-replace="false"> 
      <div class="component-holder ng-binding ng-scope  col-md-4" data-component="crn-textinput" id="crn-textinput-133488"> 
        <div class="form-group"> 
          <label for="input3985">Matrícula:</label> 
        </div> 
      </div> 
      <div class="component-holder ng-binding ng-scope  col-md-8" data-component="crn-textinput" id="valorMatricula" style="font-weight:bold"></div> 
    </div> 
    <div class="col-md-2" data-container="true" data-replace="true"> 
      <div class="component-holder ng-binding ng-scope col-md-4" data-component="crn-textinput" id="crn-textinput-133488"> 
        <div class="form-group"> 
          <label for="input3985">Chave:</label> 
        </div> 
      </div> 
      <div class="component-holder ng-binding ng-scope col-md-8" data-component="crn-textinput" id="valorChave" style="font-weight:bold"></div> 
    </div> 
    <div class="col-md-4" data-container="true" data-replace="true"> 
      <div class="component-holder ng-binding ng-scope col-md-4" data-component="crn-textinput" id="crn-textinput-133488">
         Empregado: 
      </div> 
      <div class="component-holder ng-binding ng-scope col-md-8" data-component="crn-textinput" id="valorEmpregado" style="font-weight:bold"> 
        <div class="form-group"> 
          <label for="input3986"></label> 
        </div> 
      </div> 
    </div> 
    <div class="col-md-4" data-container="true" data-replace="true"> 
      <div class="component-holder ng-binding ng-scope col-md-4" data-component="crn-textinput" id="crn-textinput-133488"> 
        <div class="form-group"> 
          <label for="input3985">Gerência:</label> 
        </div> 
      </div> 
      <div class="component-holder ng-binding ng-scope col-md-8" data-component="crn-textinput" id="valorGerencia" style="font-weight:bold"></div> 
    </div> 
  </div> 
  <datasource name="obterPeriodoConcessivo" entity="SPFT.query6294" keys="" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete="" on-after-fill="" lazy="false" data-component="crn-datasource" class="component-holder" schema="[]" condition=""></datasource> 
  <div class="component-holder ng-binding ng-scope" data-component="crn-table" data-replace="true" id="crn-table-948992"> 
    <div class="component-holder ng-binding ng-scope col-md-12" data-component="crn-grid" id="crn-grid-840525"> 
      <div crn-datasource="obterPeriodoConcessivo" class="k-grid k-widget k-display-block k-grid-content"></div> 
    </div> 
    <div class="col-md-12" ng-show="obterPeriodoConcessivo.data.length > 0" style="height:50px">
        Escolha abaixo um período concessivo para suas férias
    </div> 
    <table class="col-md-12" crn-datasource="obterPeriodoConcessivo"> 
      <tbody> 
        <tr class="table-content"> 
          <td class="active" ng-repeat="rowData in datasource.data"> 
            <div class="component-holder ng-binding ng-scope col-md-12" data-component="crn-button" id="crn-button-550642"> 
              <button class="btn btn-default k-button btn-block" ng-click="cronapi.server('blockly.TelaRequestVacation.SelecionarPeriodoConcessivo').run(params.login, obterPeriodoConcessivo.active)" xattr-size="" xattr-fullsize="btn-block" xattr-theme="btn-default" xattr-disabled=""> {{rowData.dataPeriodo1Inicio| mask: 'date'}} à {{rowData.dataPeriodo1Fim| mask: 'date'}} <br> {{rowData.status == 1 ? "Disponível para Marcação" : "Aguardando Aprovação" }} </button> 
            </div> </td> 
        </tr> 
      </tbody> 
    </table> 
    <div class="col-md-12" style="height:50px"> 
    </div> 
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div ng-show="params.login.trim().length > 0" class="component-holder ng-binding ng-scope col-md-4" data-component="crn-button" id="crn-button-618250">
          <button onclick="javascript:history.back()" class="btn btn-default k-button btn-block" ng-click="" xattr-size="" xattr-fullsize="btn-block" xattr-theme="btn-default" xattr-disabled=""><span>Voltar</span></button>
        </div>    
        <div class="col-md-4"></div>
    </div>
     
  </div> 
</div>